@model WebAplicacionTurnos.Models.Servicio

@{
    ViewData["Title"] = "Eliminar";
}

<h1>Eliminar</h1>

<h3>¿Está seguro que desea eliminar este Servicio?</h3>
<div>
    <h4>Servicio</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Precio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Precio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Duracion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Duracion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Observacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Observacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoServicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoServicio.TipoServicioId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ServicioId" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> 
        <a asp-action="Index" class="btn btn-outline-dark">Volver a la lista</a>
    </form>
</div>
